<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <!--<connectionStrings>
    <add name="EntityFrameworkDbContext" providerName="oracle.manageddataaccess.client" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.0.244)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = chief)));PERSIST SECURITY INFO=True;USER ID=CWF_OWNER;Password=CWF_OWNER" />
    
  --><!--
    <add name="EntityFrameworkDbContext" providerName="oracle.manageddataaccess.client" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = snlxdb06.ap.lilly.com)(PORT = 1530)))(CONNECT_DATA = (SERVICE_NAME = dev414)));PERSIST SECURITY INFO=True;USER ID=cwf_user;Password=Cafeplaza1" />
    <add name="EntityFrameworkDbContext" providerName="oracle.manageddataaccess.client" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = snlxdb05.ap.lilly.com)(PORT = 1530)))(CONNECT_DATA = (SERVICE_NAME = tst414)));PERSIST SECURITY INFO=True;USER ID=cwf_user;Password=Cafeplaza1" />
    <add name="EntityFrameworkDbContext" providerName="oracle.manageddataaccess.client" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = snlxdb04.ap.lilly.com)(PORT = 1530)))(CONNECT_DATA = (SERVICE_NAME = prd414)));PERSIST SECURITY INFO=True;USER ID=cwf_user;Password=Cafeplaza1" />
    --><!--
  </connectionStrings>-->
  <connectionStrings>
    <add name="ChinaUnicom.Fuyang" connectionString="Data Source=(local);Initial Catalog=ChinaUnicom.Fuyang;Persist Security Info=True;User ID=sa;Password=ljb780109;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="409600" executionTimeout="3600" />
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>